html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
.title-container {
    margin-left: 10%;
    padding-top: 10vh;
}
.title-container h2 {
    font-size: 30px;
    margin: 0;
}
.title-container span {
    color: #4EADAD;
}
.title-container p {
    font-size: 13px;
    margin: 0;
    color: #4EADAD;
}
.about-us-card-container {
    margin: 10vh 0 20vh 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.about-us-card {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
}
.about-us-card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.about-us-card p {
    width: 90%;
    text-align: justify;
    font-size: 14px;
    padding: 5%;
}
.about-us-card span {
    color: #4EADAD;
    font-weight: bold;
}