footer {
    background-color: #4EADAD;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 150px;
}
footer img {
    height: 60%;
    margin-left: 3%;
}
footer a {
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
}
footer .copyrights {
    margin-right: 70px;
}
footer .copyrights p {
    text-align: right;
    font-size: 13px;
}
footer ul {
    margin: 0;
    list-style: none;
}
footer .sitePlanTitle {
    margin: 0;
    margin-bottom: 5%;
    text-decoration: underline;
}
footer .sitePlan{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
