header {
    background-color: white;
    height: 7vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 20px #00000033;
    z-index: +1;
}
header img {
    height: 70%;
    margin-left: 2%;
    align-self: center;
}
header ul {
    min-width: 400px;
    position: relative;
    height: 100%;
    margin-right: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0 5% 0 0;
    padding: 0;
}
header a {
    color: black;
    text-decoration: none;
    font-weight: 500;
}
header li span {
    display: block;
    background-color: #4EADAD;
    width: 0;
    height: 3px;
    border-radius: 10px;
    position: relative;
    top: -4px;
    transition: width .3s ease-in-out;
}
header li:hover span {
    width: 100%;
}