/* COLOR PALETTE
BLUE : #4EADAD
DARK GREY : #262C2B
*/

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
/* GENERIC */
.title-container {
    margin-left: 10%;
    padding-top: 5vh;
}
.title-container h2 {
    font-size: 45px;
    margin: 0;
    font-weight: 800;
}
.title-container span {
    color: #4EADAD;
}
.title-container p {
    font-size: 15px;
    margin: 0;
    color: #4EADAD;
}

/* BACK TO TOP BUTTON */
.back-to-top-btn {
    width: 25px;
    height: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    border: 4px solid #4EADAD;
    padding: 10px;
    cursor: pointer;
    overflow: hidden;
    /* transition: bottom .3s; */
}
.back-to-top-btn img {
    width: 25px;
    height: auto;
    padding: 5px;
}
.back-to-top-btn:hover img {
    animation: up-arrow-anim .8s ease-in-out;
}
@keyframes up-arrow-anim {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-35px);
    }
    51% {
        display: none;
        transform: translateY(60px);
    }
    52% {
        display: block;
    }
    100% {
        transform: translateY(0);
    }
}

/* HOME SECTION */
#home-section {
    height: 93vh;
    margin-top: 7vh;
}

/* CAROUSEL SECTION */
.carousel {
    height: 100%;
    width: auto;
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    scroll-behavior: smooth;
}
.carousel-item {
    width: 90%;
    flex-grow: 1;
    flex-shrink: 0;
    background-color: #262C2B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    background-size: cover;
}
.last-carousel-item h1 {
    color: black !important;
}
.last-carousel-item p {
    color: #4EADAD !important;
}
.last-carousel-item a:last-of-type {
    color: #4EADAD !important;
}
.last-carousel-item {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.last-carousel-item img {
    width: 50%;

}
.carousel-item:nth-child(1) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/illu3.jpg');
    background-size: cover;
}
.carousel-item:nth-child(2) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/illu2.jpg');
    background-size: cover;
}
.carousel-item:nth-child(3) {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/illu1.jpg');
    background-size: cover;
}
.carousel-item:nth-child(4) {
    background-color: white;
}
.carousel-item h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 800;
    color: white;
}
.carousel-item span {
    color: #4EADAD;
}
.carousel-item p {
    margin: 0;
    margin-bottom: 35px;
    font-size: 14px;
    color: white;
}
.carousel-item .btns a {
    background-color: #4EADAD;
    text-decoration: none;
    border: 2px solid #4EADAD;
    outline: none;
    padding: 8px 18px;
    font-size: 15px;
    font-family: 'poppins';
    border-radius: 15px;
    color: white;
    font-weight: 500;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}
.carousel-item .btnTypeUn:hover {
    background-color: transparent;
    transition: 1s;
}
.carousel-item .btnTypeDeux:hover {
    background-color: #4EADAD !important;
    color: white !important;
    transition: 1s;
}
.carousel-item .btnTypeTrois:hover {
    background-color: transparent;
    color: #4EADAD !important;
    transition: 1s;
}
.carousel-item .btns a:last-of-type {
    background-color: transparent;
    margin-left: 10px;
}
.next-slide, .prev-slide {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: 15px;
}
.next-slide {
    right: 30px;
}
.prev-slide {
    left: 30px;
}
.dots-container {
    position: absolute;
    top: 97%;
    left: 46%;
    display: flex;
}

.dots-container a {
    border-radius: 50%;
    cursor: pointer;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    background-color: grey;
}
.dots-container .active {
    background-color: #4EADAD;
}

/* SERVICES SECTION */
#services-section {
    background-color: #262C2B;
    padding-bottom: 10vh;
}
.services-title-container {
    display: flex;
    color: white;
    justify-content: space-between;
    margin-bottom: 6vh;
}
.services-title-container img {
    width: 100px;
    height: 100px;
    margin-right: 10%;
}
.services-big-container {
    padding: 0 10%;
}
.service-container {
    width: 100%;
    display: flex;
}
.service-container:nth-child(1) {
    justify-content: flex-start;
}
.service-container:nth-child(2) {
    justify-content: center;
}
.service-container:nth-child(3) {
    justify-content: flex-end;
}
.service {
    background-color: white;
    width: 38%;
    border-radius: 12px;
    padding: 15px 30px;
    margin: 10px 0;
    cursor: pointer;
}
.service-title {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.service-description {
    font-size: 15px;
    text-align: justify;
    display: none;
    margin-top: 10px;
}
/* PRESENTATION SECTION */
#presentation-section {
    background-color: #262C2B;
    color: white;
    padding-bottom: 10vh;
}
.presentation-title-container {
    padding: 10vh 0;
}
.presentation{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 10%;
}
.txt {
    max-width: 60%;
}
#Lorem1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    height: 200px;
}
#soustxt1{
    color:  #4EADAD;
    font-size: 14px;
}
.Titre1{
    font-weight: bold;
    font-size: 40px;
}
.Txt1{
    float: right;
    width: 75%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    text-align: right;
}
#imgLorem1{
    border-radius: 5px;
    height: 100%
}
#Motbleu1 {
    color:  #4EADAD;
}
#Lorem2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10vh;
    height: 200px;
}
.Titre2{
    font-weight: bold;
    font-size: 40px;
}
.Txt2{
    float: right;
    width: 75%;
    align-items: flex-end;
    flex-direction: column;
}
#soustxt2{
    color:  #4EADAD;
    font-size: 14px;
}
#imgLorem2{
    border-radius: 5px;
    height: 100%
}
#Motbleu2 {
    color:  #4EADAD;
}

#Lorem3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    margin-top: 10vh;
    height: 200px;
}
#soustxt3{
    color:  #4EADAD;
    font-size: 14px;
}
.Titre3{
    font-weight: bold;
    font-size: 40px;
}
.Txt3{
    float: right;
    width: 75%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    
}
#imgLorem3{
    border-radius: 5px;
    height: 100%
}
#Motbleu3 {
    color:  #4EADAD;
}

/* CONTACT FORM */
#contact-form-container {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contact-form-container form {
    display: flex;
    flex-direction: column;
    width: 45%;
    max-width: 850px;
}
#contact-form {
    position: relative;
}
form input, form textarea {
    outline: none;
    padding: 8px;
    border: none;
    background: none;
    font-family: 'poppins';
    resize: vertical;
}
form button {
    background-color: #4EADAD;
    border: 2px solid #4EADAD;
    outline: none;
    padding: 8px 18px;
    font-size: 16px;
    font-family: 'poppins';
    border-radius: 15px;
    color: white;
    font-weight: 600;
    width: fit-content;
    align-self: flex-end;
    cursor: pointer;
}
form button:hover{
    background-color: transparent;
    color: #4EADAD !important;
    
    transition: 1s;
}
form label {
    position: absolute;
    top: -9px;
    font-size: 14px;
    font-weight: 600;
    margin-left: 17px;
    margin-bottom: -16px;
    padding: 0 3px;
    height: 16px;
    background-color: white;
    color: #4EADAD;
}
.form-group {
    border: 2px solid #4EADAD;
    border-radius: 10px;
    margin-bottom: 20px;
}
.form-contact-inputs {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form-contact-inputs div {
    display: flex;
    flex-direction: column;
    width: 48%;
}
.form-contact-inputs div:first-of-type {
    margin-right: 4%;
}
.textarea-container {
    display: flex;
    flex-direction: column;
}
.textarea-container label {
    top: 49px;
}
#message {
    height: 180px;
}
#message::placeholder {
    opacity: .5;
}
.infoMsg {
    font-size: 13px;
    align-self: center;
    margin-top: 15px;
}

/* VALUES SECTION */
.values-container {
    padding: 10vh 10%;
    display: flex;
    flex-wrap: wrap;
}
.value-card {
    width: 29%;
    padding: 2%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.value-card h3 {
    margin: 5% 0;
    font-size: 20px;
}
.value-img {
    width: 33%;
    padding: 0;
}
.value-img2 img {
    border-radius: 0 0 0 15px;
}
.value-img img {
    width: 100%;
    height: 100%;
}
.value-card:nth-child(1) {
    background-color: rgb(228, 202, 139);
    border-radius: 15px 0 0 0;
}
.value-card:nth-child(3) {
    background-color: rgba(243, 236, 231);
    border-radius: 0 15px 0 0;
}
.value-card:nth-child(5) {
    background-color: rgb(153, 228, 192);

}
.value-card:nth-child(6) {
    background-color: rgb(121, 185, 185);
    border-radius: 0 0 15px 0;
}


.value-card:nth-child(1):hover {
    border-radius: 15px 0 0 0;
    box-shadow: -5px -5px 20px 0px rgba(0,0,0,0.4);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.05); 
    transition: transform .3s;
    opacity: 100%;
    transition: all .4s
}
.value-card:nth-child(3):hover {
    box-shadow: 5px -5px 20px 0px rgba(0,0,0,0.4);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5); 
    transform: scale(1.05); 
    transition: transform .3s;
    opacity: 100%;
    transition: all .4s
}
.value-card:nth-child(5):hover {
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.4);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.05); 
    transition: transform .3s;
    opacity: 100%;
    transition: all .4s

}
.value-card:nth-child(6):hover {
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.05); 
    transition: transform .3s;
    opacity: 100%;
}

.value-img2:hover{
    box-shadow: -5px 5px 20px 0px rgba(0,0,0,0.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.05); 
    transition: transform .3s;
    opacity: 100%;
    border-radius: 0 0 0 15px;
}

.value-img1:hover{
    box-shadow: 0px -5px 20px 0px rgba(0,0,0,0.5);
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5);
    transform: scale(1.05); 
    transition: transform .3s;
    opacity: 100%;
}


/* OUR VALUES FORM */
.box {
    display: flex;
    align-items: flex-start;
}
.box1 {
    border-radius: 5% 0% 0% 0%;
    padding: 5.1% 2% 4% 1%;
    position: relative;
}
.adaptabilite{
    background-color: #E5C163;
    opacity: 82%;
}
.adaptabilite {
    width: 164px;
    text-align: justify;
    position: absolute;
    left: 23px;
    top: 9px;
}
.text-adaptabilite {
    width: 379px;
    text-align: justify;
    position: relative;
}
.architecture-1048092-1920-1 {
    margin-top: 3px;
}
.box2 {
    border-radius: 0% 5% 0% 0%;
    padding: 6.7% 2% 4% 1%;
    position: relative;
    background-color: #F3ECE7;
}
.accompagnement {
    width: 246px;
    text-align: justify;
    position: absolute;
    left: 26px;
    top: 9px;
}
.text-accompagnement {
    width: 500px;
    text-align: justify;
    position: relative;
}
.illu3 {
    margin-bottom: 72px;
    padding: 0 0 0 36px;
    display: flex;
    align-items: flex-start;
    border-radius: 0% 0% 5% 0%;
}
.box3{
    padding: 3.8% 2% 5% 2%;
    position: relative;
    background-color: #2EC97F;
    opacity: 67%;
}
  
.rigueur {
    width: 103px;
    text-align: justify;
    position: absolute;
    left: 13px;
    top: 17px;
}
.text-rigueur {
    width: 498px;
    text-align: justify;
    position: relative;
}
.box4 {
    border-radius: 0% 0% 5% 0%;
    padding: 6.75% 2% 0.43% 1%;
    position: relative;
    background-color: #4EADAD;
    opacity: 62%;
}
.bienveillance {
    width: 177px;
    text-align: justify;
    position: absolute;
    left: 26px;
    top: 0;
}
  
.text-bienveillance {
    width: 357px;
    text-align: justify;
    position: relative;
}