.website {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .flex-wrapper-twelve {
    background-color: white;
    margin-bottom: 1px;
    padding: 9px 70px 5px 4px;
    box-shadow: 0 4px 15px 0 var(--transparent-black-4);
    display: flex;
    align-items: flex-start;
  }
  .fpi-logo-5 {
    margin-right: 575px;
  }
  .accueil {
    max-width: 57px;
    font-family: var(--poppins-15-semi-bold-family);
    font-size: var(--poppins-15-semi-bold-size);
    font-weight: var(--poppins-15-semi-bold-weight);
    line-height: var(--poppins-15-semi-bold-line-height);
    color: black;
    text-align: justify;
    margin-top: 19px;
    margin-right: 60px;
  }
  .qui-sommes-nous {
    max-width: 155px;
    font-family: var(--poppins-15-semi-bold-family);
    font-size: var(--poppins-15-semi-bold-size);
    font-weight: var(--poppins-15-semi-bold-weight);
    line-height: var(--poppins-15-semi-bold-line-height);
    color: black;
    text-align: justify;
    margin-top: 19px;
    margin-right: 60px;
  }
  .nos-valeurs {
    max-width: 90px;
    font-family: var(--poppins-15-semi-bold-family);
    font-size: var(--poppins-15-semi-bold-size);
    font-weight: var(--poppins-15-semi-bold-weight);
    line-height: var(--poppins-15-semi-bold-line-height);
    color: black;
    text-align: justify;
    margin-top: 19px;
    margin-right: 60px;
  }
  .prestations {
    max-width: 87px;
    font-family: var(--poppins-15-semi-bold-family);
    font-size: var(--poppins-15-semi-bold-size);
    font-weight: var(--poppins-15-semi-bold-weight);
    line-height: var(--poppins-15-semi-bold-line-height);
    color: black;
    text-align: justify;
    margin-top: 19px;
    margin-right: 60px;
  }
  .contact {
    max-width: 62px;
    font-family: var(--poppins-15-semi-bold-family);
    font-size: var(--poppins-15-semi-bold-size);
    font-weight: var(--poppins-15-semi-bold-weight);
    line-height: var(--poppins-15-semi-bold-line-height);
    color: black;
    text-align: justify;
    margin-top: 19px;
  }
  .flex-wrapper-four {
    background-color: var(--transparent-black-2);
    margin-bottom: 104px;
    padding: 274px 90px 14px 104px;
    box-shadow: 0 4px 4px 0 var(--transparent-black);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .lexigence-dans-le-detail {
    text-align: justify;
    margin-left: 150px;
    font-family: var(--poppins-35-bold-family);
    font-size: var(--poppins-35-bold-size);
    font-weight: var(--poppins-35-bold-weight);
    line-height: var(--poppins-35-bold-line-height);
    color: white
  }
  .lexigence-dans-le-detail-emphasis-2 {
    font-family: var(--poppins-35-bold-family);
    font-size: var(--poppins-35-bold-size);
    font-weight: var(--poppins-35-bold-weight);
    line-height: var(--poppins-35-bold-line-height);
    color: var(--tan);
    letter-spacing: 2px;
  }
  .flex-wrapper-nineteen {
    margin-bottom: 13px;
    display: flex;
    align-items: flex-start;
  }
  .group-35 {
    margin-top: 22px;
    margin-right: 138px;
  }
  .nous-mettons-en-place-les-methodes-dens {
    max-width: 640px;
    font-family: var(--poppins-15-medium-family);
    font-size: var(--poppins-15-medium-size);
    font-weight: var(--poppins-15-medium-weight);
    line-height: var(--poppins-15-medium-line-height);
    color: var(--white);
    text-align: justify;
    margin-right: 444px;
    letter-spacing: 1px;
  }
  .group-36 {
    margin-top: 27px;
    transform: rotate(-180deg);
  }
  .flex-wrapper-twenty {
    margin-bottom: 198px;
    padding: 0 0 0 150px;
    display: flex;
    align-items: center;
  }
  .flex-wrapper-five {
    background-color: #556b2f;
    margin-right: 10px;
    border-radius: 30px;
    padding: 7px 15px 6px 14px;
    display: flex;
    align-items: center;
  }
  .qui-sommes-nous-two {
    max-width: 144px;
    font-family: var(--poppins-14-semi-bold-family);
    font-size: var(--poppins-14-semi-bold-size);
    font-weight: var(--poppins-14-semi-bold-weight);
    line-height: var(--poppins-14-semi-bold-line-height);
    color: var(--white);
    text-align: justify;
  }
  .flex-wrapper-six {
    background-color: white;
    border-radius: 30px;
    padding: 6px 15px 5px;
    display: flex;
    align-items: center;
    background-color: #556b2f;
  }
  .nos-prestations {
    max-width: 112px;
    font-family: var(--poppins-14-semi-bold-family);
    font-size: var(--poppins-14-semi-bold-size);
    font-weight: var(--poppins-14-semi-bold-weight);
    line-height: var(--poppins-14-semi-bold-line-height);
    color: #556b2f;
    text-align: justify;
  }
  .flex-wrapper-twenty-one {
    padding: 0 0 0 591px;
    display: flex;
    align-items: flex-start;
  }
  .ellipse-1 {
    width: 10px;
    height: 10px;
    background-color: #556b2f;
    margin-right: 10px;
    border-radius: 50%;
  }
  .ellipse-2:not(:last-of-type) {
    margin-right: 10px;
  }
  .ellipse-2 {
    width: 10px;
    height: 10px;
    background-color: var(--transparent-black-3);
    border-radius: 50%;
  }
  .relative-wrapper-eight {
    margin-bottom: 100px;
    margin-left: 241px;
    position: relative;
  }
  .qui-sommes-nous-three {
    text-align: justify;
    position: absolute;
    left: 0;
    top: -55px;
    font-family: var(--poppins-40-bold-family);
    font-size: var(--poppins-40-bold-size);
    font-weight: var(--poppins-40-bold-weight);
    line-height: var(--poppins-40-bold-line-height);
    color: #556b2f;
  }
  .qui-sommes-nous-emphasis-1 {
    font-family: var(--poppins-40-bold-family);
    font-size: var(--poppins-40-bold-size);
    font-weight: var(--poppins-40-bold-weight);
    line-height: var(--poppins-40-bold-line-height);
    color: var(--black);
  }
  .nous-sommes-une-equipe-ayant-a-coeur-de {
    max-width: 640px;
    font-family: var(--poppins-15-regular-family);
    font-size: var(--poppins-15-regular-size);
    font-weight: var(--poppins-15-regular-weight);
    line-height: var(--poppins-15-regular-line-height);
    color: #556b2f;
    position: relative;
  }
  .flex-wrapper-thirteen {
    margin-bottom: 202px;
    padding: 0 0 0 248px;
    display: flex;
    align-items: flex-start;
  }
  .qui-somme-nous-fiche:not(:last-of-type) {
    margin-right: 262px;
  }
  .qui-somme-nous-fiche {
    height: 350px;
  }
  .relative-wrapper-seven {
    margin-bottom: 26px;
    position: relative;
  }
  .rectangle-20 {
    width: 1479px;
    height: 715px;
    background-color: #556b2f;
    box-shadow: 0 4px 4px 0 var(--transparent-black);
    position: relative;
  }
  .nos-valeurs-v1 {
    position: absolute;
    left: 248px;
    top: -32px;
  }
  .flex-wrapper-fourteen {
    margin-bottom: 78px;
    padding: 0 0 0 248px;
    display: flex;
    align-items: flex-start;
  }
  .relative-wrapper-nine {
    margin-top: 40px;
    margin-right: 586px;
    position: relative;
  }
  .nos-prestations-two {
    text-align: justify;
    position: relative;
    font-family: var(--poppins-40-bold-family);
    font-size: var(--poppins-40-bold-size);
    font-weight: var(--poppins-40-bold-weight);
    line-height: var(--poppins-40-bold-line-height);
    color: #556b2f;
  }
  .lorem-ipsum-dolor-sit-amet-consectetur {
    max-width: 640px;
    font-family: var(--poppins-15-regular-family);
    font-size: var(--poppins-15-regular-size);
    font-weight: var(--poppins-15-regular-weight);
    line-height: var(--poppins-15-regular-line-height);
    color: var(--black);
    position: absolute;
    right: -318px;
    bottom: -18px;
  }
  .lorem-ipsum {
    max-width: 169px;
    font-family: var(--poppins-25-extra-bold-family);
    font-size: var(--poppins-25-extra-bold-size);
    font-weight: var(--poppins-25-extra-bold-weight);
    line-height: var(--poppins-25-extra-bold-line-height);
    color: #556b2f;
    text-align: justify;
    margin-left: 779px;
  }
  .dolor-sit-amet-consectetur-adipiscing-e {
    max-width: 361px;
    font-family: var(--poppins-15-regular-family);
    font-size: var(--poppins-15-regular-size);
    font-weight: var(--poppins-15-regular-weight);
    line-height: var(--poppins-15-regular-line-height);
    color: var(--black);
    text-align: justify;
    margin-bottom: 116px;
    margin-left: 779px;
  }
  .ut-enim {
    max-width: 101px;
    font-family: var(--poppins-25-extra-bold-family);
    font-size: var(--poppins-25-extra-bold-size);
    font-weight: var(--poppins-25-extra-bold-weight);
    line-height: var(--poppins-25-extra-bold-line-height);
    color: #556b2f;
    text-align: justify;
    margin-left: 360px;
  }
  .ad-minim-veniam-quis-nostrud-exercitati {
    max-width: 361px;
    font-family: var(--poppins-15-regular-family);
    font-size: var(--poppins-15-regular-size);
    font-weight: var(--poppins-15-regular-weight);
    line-height: var(--poppins-15-regular-line-height);
    color: var(--black);
    text-align: justify;
    margin-bottom: 109px;
    margin-left: 300px;
  }
  .ut-aliquip {
    max-width: 127px;
    font-family: var(--poppins-25-extra-bold-family);
    font-size: var(--poppins-25-extra-bold-size);
    font-weight: var(--poppins-25-extra-bold-weight);
    line-height: var(--poppins-25-extra-bold-line-height);
    color: #556b2f;
    text-align: justify;
    margin-bottom: 7px;
    margin-left: 784px;
  }
  .ex-ea-commodo-consequat-duis-aute-irure {
    max-width: 361px;
    font-family: var(--poppins-15-regular-family);
    font-size: var(--poppins-15-regular-size);
    font-weight: var(--poppins-15-regular-weight);
    line-height: var(--poppins-15-regular-line-height);
    color: var(--black);
    text-align: justify;
    margin-bottom: 48px;
    margin-left: 779px;
  }
  .flex-wrapper-fifteen {
    margin-bottom: 143px;
    padding: 0 0 0 300px;
    display: flex;
    align-items: flex-start;
  }
  .flex-wrapper-twenty-three {
    margin-right: 33px;
    padding: 95px 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .dolor-in {
    max-width: 99px;
    font-family: var(--poppins-25-extra-bold-family);
    font-size: var(--poppins-25-extra-bold-size);
    font-weight: var(--poppins-25-extra-bold-weight);
    line-height: var(--poppins-25-extra-bold-line-height);
    color: #556b2f;
    text-align: justify;
    margin-bottom: 4px;
    margin-left: 60px;
  }
  .reprehenderit-in-voluptate-velit-esse-ci {
    max-width: 357px;
    font-family: var(--poppins-15-regular-line15-family);
    font-size: var(--poppins-15-regular-line15-size);
    font-weight: var(--poppins-15-regular-line15-weight);
    line-height: var(--poppins-15-regular-line15-line-height);
    color: var(--black);
    text-align: justify;
  }
  .relative-wrapper-ten {
    position: relative;
  }
  .austin-distel-wd1l-rb9-oe-eo-unsplash-3 {
    position: relative;
    border-radius: 5px;
  }
  .austin-distel-rxp-th-owu-vge-unsplash-3 {
    position: absolute;
    left: -390px;
    top: -190px;
    border-radius: 5px;
  }
  .austin-distel-wd1l-rb9-oe-eo-unsplash-2 {
    position: absolute;
    left: 0;
    top: -395px;
    border-radius: 5px;
  }
  .austin-distel-rxp-th-owu-vge-unsplash-2 {
    position: absolute;
    left: -390px;
    top: -585px;
    border-radius: 5px;
  }
  .flex-wrapper-seven {
    background-color: #556b2f;
    margin-bottom: 25px;
    padding: 55px 434px 174px 248px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .relative-wrapper-three {
    margin-bottom: 124px;
    position: relative;
  }
  .nous-contacter {
    text-align: justify;
    position: absolute;
    left: 0;
    top: -55px;
    font-family: var(--poppins-40-bold-family);
    font-size: var(--poppins-40-bold-size);
    font-weight: var(--poppins-40-bold-weight);
    line-height: var(--poppins-40-bold-line-height);
    color: var(--tan);
  }
  .nous-contacter-emphasis-1 {
    font-family: var(--poppins-40-bold-family);
    font-size: var(--poppins-40-bold-size);
    font-weight: var(--poppins-40-bold-weight);
    line-height: var(--poppins-40-bold-line-height);
    color: var(--white);
  }
  .vous-souhaitez-nous-contacter-pour-une-f {
    max-width: 640px;
    font-family: var(--poppins-15-regular-family);
    font-size: var(--poppins-15-regular-size);
    font-weight: var(--poppins-15-regular-weight);
    line-height: var(--poppins-15-regular-line-height);
    color: var(--white);
    position: relative;
  }
  .flex-wrapper-twenty-two {
    margin-bottom: 34px;
    padding: 0 0 0 128px;
    display: flex;
    align-items: flex-start;
  }
  .relative-wrapper-four:not(:last-of-type) {
    margin-right: 30px;
  }
  .relative-wrapper-four {
    position: relative;
  }
  .flex-wrapper-nine {
    background-color: #556b2f;
    border-radius: 10px;
    padding: 8px 191px 7px 13px;
    position: relative;
    border: 2px solid var(--tan);
  }
  .nom-prenom {
    max-width: 92px;
    font-family: var(--poppins-14-regular-family);
    font-size: var(--poppins-14-regular-size);
    font-weight: var(--poppins-14-regular-weight);
    line-height: var(--poppins-14-regular-line-height);
    color: var(--transparent-white);
    text-align: justify;
  }
  .group-44 {
    padding: 0 0 6px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 19px;
    top: -19px;
  }
  .rectangle-15 {
    width: 107px;
    height: 23px;
    background-color: #556b2f;
    position: relative;
  }
  .nom-prenom-two {
    max-width: 100px;
    font-family: var(--poppins-15-semi-bold-family);
    font-size: var(--poppins-15-semi-bold-size);
    font-weight: var(--poppins-15-semi-bold-weight);
    line-height: var(--poppins-15-semi-bold-line-height);
    color: var(--tan);
    text-align: justify;
    position: absolute;
    left: 3px;
    top: 6px;
  }
  .flex-wrapper-eleven {
    background-color: #556b2f;
    border-radius: 10px;
    padding: 8px 254px 7px 13px;
    position: relative;
    border: 2px solid var(--tan);
  }
  .mail {
    max-width: 29px;
    font-family: var(--poppins-14-regular-family);
    font-size: var(--poppins-14-regular-size);
    font-weight: var(--poppins-14-regular-weight);
    line-height: var(--poppins-14-regular-line-height);
    color: var(--transparent-white);
    text-align: justify;
  }
  .rectangle-15-two {
    width: 38px;
    height: 23px;
    background-color: #556b2f;
    position: relative;
  }
  .mail-two {
    max-width: 33px;
    font-family: var(--poppins-15-semi-bold-family);
    font-size: var(--poppins-15-semi-bold-size);
    font-weight: var(--poppins-15-semi-bold-weight);
    line-height: var(--poppins-15-semi-bold-line-height);
    color: var(--tan);
    text-align: justify;
    position: absolute;
    left: 3px;
    top: 6px;
  }
  .relative-wrapper-five {
    margin-bottom: 14px;
    margin-left: 128px;
    position: relative;
  }
  .flex-wrapper-ten {
    background-color: #556b2f;
    border-radius: 10px;
    padding: 13px 333px 157px 13px;
    position: relative;
    border: 2px solid var(--tan);
  }
  .parlez-nous-en-details-de-votre-projet {
    max-width: 280px;
    font-family: var(--poppins-15-regular-family);
    font-size: var(--poppins-15-regular-size);
    font-weight: var(--poppins-15-regular-weight);
    line-height: var(--poppins-15-regular-line-height);
    color: var(--transparent-white);
    text-align: justify;
  }
  .group-45 {
    padding: 0 0 6px;
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 18px;
    top: -19px;
  }
  .rectangle-15-three {
    width: 77px;
    height: 23px;
    background-color: #556b2f;
    position: relative;
  }
  .message {
    max-width: 69px;
    font-family: var(--poppins-15-semi-bold-family);
    font-size: var(--poppins-15-semi-bold-size);
    font-weight: var(--poppins-15-semi-bold-weight);
    line-height: var(--poppins-15-semi-bold-line-height);
    color: var(--tan);
    text-align: justify;
    position: absolute;
    left: 3px;
    top: 6px;
  }
  .flex-wrapper-eight {
    background-color: var(--tan);
    margin-left: 555px;
    border-radius: 30px;
    padding: 6px 20px 7px;
    display: flex;
    align-items: center;
  }
  .envoyer-mon-message {
    max-width: 163px;
    font-family: var(--poppins-14-semi-bold-family);
    font-size: var(--poppins-14-semi-bold-size);
    font-weight: var(--poppins-14-semi-bold-weight);
    line-height: var(--poppins-14-semi-bold-line-height);
    color: var(--white);
    text-align: justify;
  }
  .flex-wrapper-sixteen {
    padding: 0 0 0 45px;
    display: flex;
    align-items: flex-start;
  }
  .fpi-logo-5-two {
    margin-right: 318px;
  }
  .group-47 {
    background-color: var(--invalid-color-rgba-1961961960);
    margin-top: 41px;
    margin-right: 50px;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #556b2f;
  }
  .flex-wrapper-twenty-four {
    display: flex;
    align-items: flex-start;
  }
  .flex-wrapper-three {
    background-color: #556b2f;
    margin-right: 2px;
    padding: 7px 2px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .group-48 {
    background-color: var(--invalid-color-rgba-1961961960);
    margin-top: 39px;
    margin-right: 50px;
    border-radius: 50%;
    padding: 10px 8px 6px;
    display: flex;
    align-items: flex-start;
    background-color: #556b2f;
  }
  .twitter-1 {
    padding: 2px 0 1px;
    position: relative;
  }
  .group {
    position: relative;
  }
  .group-two {
    position: absolute;
    left: 3px;
    top: 5px;
  }
  .group-three {
    position: absolute;
    left: 4px;
    top: 6px;
  }
  .group-49 {
    background-color: var(--invalid-color-rgba-1961961960);
    margin-top: 41px;
    margin-right: 317px;
    border-radius: 50%;
    padding: 8px;
    display: flex;
    align-items: center;
    background-color: #556b2f;
  }
  .facebook-1 {
    padding: 0 5px;
    position: relative;
  }
  .group-four {
    position: absolute;
    left: 8px;
    top: 13px;
  }
  .group-five {
    position: absolute;
    left: 8px;
    top: 15px;
  }
  .num-2021-formation-pour-linnovation-tous {
    max-width: 240px;
    font-family: var(--poppins-14-regular-family);
    font-size: var(--poppins-14-regular-size);
    font-weight: var(--poppins-14-regular-weight);
    line-height: var(--poppins-14-regular-line-height);
    background-color: #556b2f;
    text-align: right;
    margin-top: 39px;
  }